body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  margin: 5px;
}

#nc-news-logo-banner {
  margin-top: 20px;
  height: 200px;
  width: auto;
}
